@page
@model ABCUniversity1.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.student.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.student.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.student.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.student.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.student.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.student.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.student.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.student.ContactNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.student.ContactNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.student.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.student.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.student.NIC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.student.NIC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.student.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.student.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.student.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.student.Status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="student.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
